@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

body {
 margin: 0;
 font-family: Roboto, sans-serif;
 background-color: #F5F5F5;	
}
.margin{
	margin-left:5%;
	margin-right: 5%;
}