<div *ngIf="options.length > 0">
	<form class="example-form">
	  <mat-form-field class="example-full-width">
	    <input type="text" placeholder="Select location" aria-label="Number" [(ngModel)]="searchText" matInput [formControl]="searchBox" [matAutocomplete]="auto">
	    <mat-autocomplete (optionSelected)='LocationChanged($event.option)' #auto="matAutocomplete">
	      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
	        {{option}}
	      </mat-option>
	    </mat-autocomplete>
	  </mat-form-field>
	or <a href="#" (click)="SwitchToGeneralForecast()">Show general forecast</a>
	</form>
	<br>

	<mat-tab-group (selectedTabChange)="DateTabChanged($event)">
	  <mat-tab 
	  label="{{availableDate}}" 
	  *ngFor="let availableDate of availableDates"></mat-tab>
	</mat-tab-group>
	<mat-tab-group (selectedTabChange)="ChangeForecastType()" mat-align-tabs="center">
	  <mat-tab label="Day"></mat-tab>
	  <mat-tab label="Night"></mat-tab>
	</mat-tab-group>
	<mat-card>
		<div>
			<mat-card-title>
				<p *ngIf="activeForecast.phenomenon">Phenomen: {{activeForecast.phenomenon}}</p>
			</mat-card-title>
			<mat-card-content>
				{{activeForecast.text}}<br>
				<p *ngIf="activeForecast.tempmin"><b>MinTemp:</b> {{activeForecast.tempmin}}</p>
				<p *ngIf="activeForecast.tempmax"><b>MaxTemp:</b> {{activeForecast.tempmax}}</p><br>
			</mat-card-content>
		</div>
	</mat-card>
	<mat-card>
		<div *ngIf="!activeForecast.phenomenon">
			Sorry no data available for specified search criteria :(
		</div>
	</mat-card>
</div>
<div *ngIf="options.length === 0">
	<mat-tab-group>
	 	<mat-tab>
		  <mat-card-title>
				<p>Sorry we don't have any data available. Please come back later.</p>
			</mat-card-title>
		</mat-tab>
	</mat-tab-group>
</div>
