<div layout="row" layout-wrap>
  <mat-toolbar color="primary">
    <div class="margin">
      <h4>Breeze. Weather app as easy as breeze.</h4>
    </div> 
  </mat-toolbar>

  <div container class="margin">
    <div layout="row" layout-align="center center">
      <app-forecast-panel></app-forecast-panel>
    </div>
  </div>
</div>